/* CSS definition file containing sitestyle stylesheets */
body {
    background-color: #D0D0D0;
    background-image: url('../../assets/images/bg_zurich.jpg');
}

#wrapper {
    max-width: 95%; 
    margin:30px auto;
    background-color: rgba(255,255,255, 0.4);
    box-shadow:0 0 2px  2px rgba(255,255,255, 0.4);
    padding: 5px;
}

#header {
    height:50px;
    font-family: Tahoma, Verdana, Helvetica;
}

h1 { color:#000000; font-family: Tahoma, Verdana, Helvetica ; font-size:34pt;}
h2 { 
   color:white; 
   font-family: Tahoma, Verdana, Helvetica; 
   font-size:30pt; 
   //position: fixed;
   top: 150px; 
   left: 0;
   right: 0;
   background-color: rgba(0,0,0, 0.4);
   box-shadow:0 0 2px 2px rgba(0,0,0, 0.4);
}

h3 {
   color:white; 
   font-family: Tahoma, Verdana, Helvetica; 
   font-size:30pt;
   position: absolute; 
   top: -80px; 
   left: 0;
   right: 0;
}

h4 {
    color: white;
    font-family: Tahoma, Verdana, Helvetica; 
    font-size:24pt;
/*    position: absolute;
    left: 200;*/
}

h5 {
    font-family: Tahoma, Verdana, Helvetica; 
    font-size:14pt;
    color: orange;
}

h6 {
    color:white; 
    font-family: Tahoma, Verdana, Helvetica; 
    font-size:12pt; 
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
}

h7 { 
    color:white; 
    font-family: Tahoma, Verdana, Helvetica; 
    font-size:12pt; 
    position: absolute;
    top: -125px;
    right: 0;
}

p { color: black; font-family: Tahoma, Verdana, Helvetica ; font-size:11pt} 

#footer {
    color: white; 
    font-family: Tahoma, Verdana, Helvetica; 
    font-size: 9pt; 
    background-color: black;
    box-shadow:0 0 2px 2px black;
    text-align:right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mybanner { display:block; }
.mybanner img {float:left; padding-right:3em;}
.myfooter { 
    display:block; 
    background-color: pink; 
    border:2px solid; 
    border-radius:10px; 
    -moz-border-radius: 15px; 
    border-color: plum; 
    padding:5px;
}
.myfooter ul {list-style-type:none;}
.comfy { margin: 10px}
.copyright {float:right}
.centered {text-align:center;}
.left {text-align:left;}
.thumbnail img {margin-left:10px; margin-right:10px;}
.deferred  { display:none; }
.booboo { color: red; font-weight: bold; text-align: center; }
.alone { clear:both; margin:10px;}

.mylogo {
    float:left;
    margin-left: 20px;
    margin-right: 20px;
}

.mynav {
    position: absolute;
    top: 5%;
    right:0px;
    padding-bottom: 15px;
    background-color: #0f0f0f;
    box-shadow:0 0 2px 2px black;
    
}
.mynav ul {
    list-style-type:none; 
    font-family: Tahoma, Verdana, Helvetica;
    font-size: 100%;
}

.mynav ul li {
    text-align: center;
    float: left;
    margin-right:30px;
    list-style-type:none;
}

.desc ul {
    list-style-type:none; 
    font-family: Tahoma, Verdana, Helvetica;
    font-size: 100%;
}

.desc ul li {
    text-align: center;
    float: top;
    margin-right:30px;
    list-style-type:none;
}

.mynav a {
    text-decoration:none;
    color: white; 
    font-weight:bold;
}

.mynav a:hover  {
    color: orange;
}

#content {}
#sidebar {margin:10px;padding-left:5px;}
.myside {padding:5px;}
.myfumble {display:none}

.span4 {
    position: relative;
    width: 100%;
    margin: 5px;
}

.newAttract {
    margin: 20px;
    background-color: rgba(255,255,255, 0.6);
    box-shadow:0 0 2px 2px rgba(255,255,255, 0.6);
    //padding: 10px;
    overflow: hidden;
}

.newAttract img {
    float:left;
    margin: 10px;
}

.attract {
    margin: 2%;
    background-color: rgba(255,255,255, 0.6);
    box-shadow:0 0 2px 2px rgba(255,255,255, 0.6);
    padding: 10px;
}

.editing {
    font-family: Tahoma, Verdana, Helvetica;
    background-color: rgba(255,255,255, 0.6);
    box-shadow:0 0 2px 2px rgba(255,255,255, 0.6);
    
}

a:hover h3, a:hover h4, a:hover h5, a:hover h6{
    background-color: rgba(0,0,0, 0.4);
    box-shadow:0 0 2px 2px rgba(0,0,0, 0.4);
    color: orange;
}

a {
    text-decoration: none;
    color: orange; 
    font-weight:bold;
}

a:hover {
    color: black;
}

.newpost {
    font-family: Tahoma, Verdana, Helvetica;
}

.column-left{ float: left; width: 15%; margin: 20px; }
.column-right{ float: right; width: 15%; margin: 20px; }
.column-center-left{ float: left; display: inline-block; width: 15%; margin: 20px; }
.column-center-right{ float: right; display: inline-block; width: 15%; margin: 20px; }